<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Photo Gallery</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app" class="container">
    <h1>Photo Gallery</h1>
    <h2>Enter the number of photos</h2>
    <input v-model="numPhotos" type="number" id="input" class="input" value="1" min="1" max="10" />
    <small class="errorMessage" id="errorMessage">Error Message</small>
    <button @click="handleClick" class="btn" id="btn">Get Photos</button>
    <div class="gallery" id="gallery">
      <!-- Generar tantos <img> como imágenes recuperamos de la API mediante la directiva v-for -->
       <img v-for="p in photos" :src="p.urls.regular" alt="">
    </div>
  </div>

  <script type="module">
    import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
      setup() {
        const photos = ref([])
        const numPhotos = ref(2)

        const handleClick = async () => {
          const response = await fetch(`https://api.unsplash.com/photos?per_page=${numPhotos.value}&client_id=aMKCCPd9KAQml9r1-a8DuvO6La76rT2Gg54XhDmtiz4`)

          const data = await response.json()
          console.log("🚀 ~ handleClick ~ data:", data)

          photos.value = data

        }

        return {
          photos,
          numPhotos,
          handleClick
        }
      }
    }).mount('#app')
  </script>
</body>

</html>